@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    99 Grace King Hall<br />
    Baton Rouge, LA 70803-0106<br />
    <abbr title="Phone">P:</abbr>
    225.578.0560
</address>

<address>
    <strong>Tech Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Res Life </strong> <a href="mailto:reslife@lsu.edu">reslife@lsu.edu</a>
</address>