
@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Application</h2>

<body>
    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Program</th>
                <th>Application</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Add Gender to Application CustomField</td>
                <td>@Html.ActionLink("Add Gender to EntryApplication", "AddAppGender", "IS")</td>
                <td>This program uses a CSV file to add the Gender to the Applicaton Custom Field. Gender field feeds data to the Comparison Report.</td>
            </tr>
            <tr>
                <td>Add Enrollment Class to Application CustomField</td>
                <td>@Html.ActionLink("Add Enrollment class to EntryApplication", "AddAppEC", "IS")</td>
                <td>This program uses a CSV file to add the Enrollment Class to the Applicaton CustomField. Gender field feeds data to the Comparison Report.</td>
            </tr>
            <tr>
                <td>Add Application Type to Application CustomField</td>
                <td>@Html.ActionLink("Add Application Type to EntryApplication","AddAppType","IS")</td>
                <td>This program uses a CSV file to add the Application Type to the Application CustomField. Applicaton Field feeds data to the Comparison Report. </td>
            </tr>
        </table>
    </div>
</body>