@using RL.Models;
 
@model IEnumerable<IncompleteAppPaid>


@{
    ViewBag.Title = "UpdateIncompleteButPaidContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateIncompleteButPaidContract</h2>

<body>
    <div>
        <p>This program updates incomplete paid applications</p>
        <p>It uses a CSV file consisting of the EntryApplicationID, EntryID, ApplicationStatus, Has Recieved Fee, LSU Student Number</p>
        <p> Undergrad Payment Flag, App Fee Online, Complete Date and Received Fee Date</p>
        <p><Bold>The Column names must be named exactly like the example and in the saem order.</Bold></p>
        <br />
    </div>

    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>EntryApplicationID</th>
                <th>EntryID</th>
                <th>ApplicationStatus</th>
                <th>LSUStudentNumber</th>
                <th>UndergradPaymentFlag</th>
                <th>AppFeeOnline</th>
                <th>CompleteDate</th>
                <th>ReceivedFeeDate</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>11129</td>
                <td>60234</td>
                <td>Incomplete</td>
                <td>89_______</td>
                <td>A            APP FEE ONLY IN OFFICE/ONLINE</td>
                <td>FALSE</td>
                <td></td>
                <td>1/21/2020 12:23</td>
            </tr>
            <tr>
                <td>122585</td>
                <td>63559</td>
                <td>Incomplete</td>
                <td>89_______</td>
                <td></td>
                <td>FALSE</td>
                <td></td>
                <td>1/21/2020 12:23</td>
            </tr>
            <tr>
                <td>123722</td>
                <td>65080</td>
                <td>Incomplete</td>
                <td>89_______</td>
                <td></td>
                <td>FALSE</td>
                <td></td>
                <td>1/17/2020 12:23</td>
            </tr>
            <tr>
                <td>128922</td>
                <td>64080</td>
                <td>Incomplete</td>
                <td>89_______</td>
                <td></td>
                <td>FALSE</td>
                <td></td>
                <td>1/11/2020 12:23</td>

            </tr>
        </table>
    </div>

    <div>
        <hr />
        <br />
        @using (Html.BeginForm("UpdateIncompleteButPaidContract", "IS", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
            <p>Enter your PawsID <input type="text" name="username" /></p>
            <p>Enter your Password<input type="password" name="password" /></p>
        }
    </div>

    <div>
        @if (Model.Count() > 0)
        {
            <div>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Entry Application ID</th>
                        <th>EntryID</th>
                        <th>Status</th>
                    </tr>

                    @foreach (IncompleteAppPaid ia in Model)
                    {
                        <tr>
                           <td>@ia.EntryApplicationID</td>
                            <td>@ia.EntryID</td>
                            <td>@ia.Status</td>
                        </tr>

                    }

                </table>
            </div>
    </body>