
@using RL.Models;

@model IEnumerable<INCPaidApps>

@{
    ViewBag.Title = "UpdateIncAppPaidNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateIncAppPaidNew</h2>

<body>
    <div>
        <p>This program  updates  Complete Date and Application Status to Activeea a CSV file. </p>
        <p>An example of how the CSV file is listed below. </p>
        <p><Bold>The Column names must be named exactly like the example and in the same order.</Bold></p>
    </div>
    <div>
        <div>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>EntryID</th>
                    <th>RoomSpace</th>
                    <th>BookingID</th>
                    <th>CheckOut</th>
                    <th>Status</th>

                </tr>
                <tr>
                    <td>51129</td>
                    <td>Miller 0704-1</td>
                    <td>113996</td>
                    <td>3/14/2020</td>
                    <td></td>
                </tr>
                <tr>
                    <td>56614</td>
                    <td>Herget 0211-1</td>
                    <td>114593</td>
                    <td>3-13-2020</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1607</td>
                    <td>East Campus 0608B-1</td>
                    <td>118543</td>
                    <td>3-1-2020</td>
                    <td></td>
                </tr>
                <tr>

                    <td>40533</td>
                    <td>Bayou 3046-A</td>
                    <td>112425</td>
                    <td>3-1-2020</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <hr />
        <br />
        @using (Html.BeginForm("UpdateIncAppPaidNew", "IS", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
            <p>Enter your PawsID <input type="text" name="username" /></p>
            <p>Enter your Password<input type="password" name="password" /></p>
        }
    </div>




</body>